[Unit]
Description=Notificacoes RaspController de presenca no quarto
After=network-online.target presenca-quarto.service
Wants=network-online.target

[Service]
Type=simple
User=__USER__
Group=__USER__

WorkingDirectory=__HOME__/raspc-notificacao
Environment=PYTHONUNBUFFERED=1
ExecStart=__HOME__/raspc-notificacao/venv/bin/python __HOME__/raspc-notificacao/notificar_presenca.py

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
